@mixin flexprops {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin commonCode ($para1, $para2){
    color: #222f3e;
    font-size: 1rem + 5rem;
    letter-spacing: $para1;
    text-transform: $para2
}